<html>
    <style>
        body{ 
            font-size: 15pt;
            font-family: arial;
        }
    </style>

    


    <body>
    <h1>Login</h1>

        <div>{{data}}</div>
        
        <div>
            {% for n in data %}
                <div>{{n}}</div>
            {% endfor %}
        </div>

        <form method="POST" action="/add">
            <p>Username: 
                <input type="text" name="name"> 
                <input type="submit" value="Add">
            </p>
      </form>

      

    </body>
</html>